*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  i {
    color: #fff;
  }
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;

  img {
    width: 40px;
    margin-right: 2rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.second-section {
  background: url(../img/tm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 200px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.programare {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;

  .date {
    font-size: 1.5rem;
    color: red;
    display: flex;
    margin-top: 2rem;

    i {
      margin-right: 5px;
    }
  }
  .card {
    background-color: #e9ecef;
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;

    span {
      color: red;
    }
  }
}
